@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *, ::before, ::after, ::backdrop {
    --tw-border-spacing-x: 0;
  }
  
  html {
    scroll-behavior: smooth;
    background-color: black;
  }
  input,
  textarea,
  button,
  select,
  a {
    -webkit-tap-highlight-color: transparent;
  }

  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url('../public/fonts/Inter-Regular.woff2') format('woff2');
  }
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-display: block;
    src: url('../public/fonts/Inter-Medium.woff2') format('woff2');
  }
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-display: block;
    src: url('../public/fonts/Inter-SemiBold.woff2') format('woff2');
  }
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-display: block;
    src: url('../public/fonts/Inter-Bold.woff2') format('woff2');
  }
}
